[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
xlrd = "*"
requests = "*"
seaborn = "*"
scipy = "*"
openpyxl = "*"
numpy = "*"
packaging = "*"
matplotlib = "*"
ipykernel = "*"
aiohttp = "*"
pyarrow = "*"

[dev-packages]

[requires]
python_version = "3.11"
